#page {
    background-color: #fafafa;
}

.countryList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.country {
    max-width: 256px;
    background-color: white;
    margin: 4vh;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.75);
}

.country > img {
    width: 256px;
    height: 160px;
    border-radius: 8px 8px 0 0;
}

.country > h2 {
    font-size: 16px;
    margin-left: 20px;
}

.countryData {
    margin-bottom: 48px;
}

.countryData > p {
    font-size: 12px;
    margin: 8px;
    margin-left: 20px;
}